@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700;900&display=swap");
@font-face {
  src: url(../Fonts/Bison-Bold.ttf) format("truetype");
  font-family: "Bison";
  font-weight: bold;
}

body {
  font-family: "Jost", sans-serif;
  background: #171716;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

.board {
  background-image: url(../images/Frame.jpg);
  height: 1080px;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.page-link {
  cursor: pointer;
  transition: 0.2s linear;
  &:hover {
    opacity: 0.7;
  }
}

.header {
  background: #171716;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container_header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  & ul {
    display: flex;
    justify-content: space-between;
    & .header__item {
      margin-right: 64px;
      &:last-child {
        margin-right: 0;
      }
      & a {
        font-family: "Bison";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
      }
    }
  }
}

.booking__title {
  margin: 76px 0 30px 0;
  font-family: "Bison";
  font-weight: bold;
  font-size: 70px;
  line-height: 84px;
  color: #73f9bc;
  max-width: 690px;
  z-index: 2;
  position: relative;
}

.booking__subtitle {
  font-family: "Bison";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 10px;
  z-index: 3;
}

.booking__text {
  max-width: 393px;
  font-weight: bold;
  font-size: 35px;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.5;
  z-index: 4;
  &_green {
    color: #73f9bc;
    opacity: 1;
  }
}

.button {
  text-transform: uppercase;
  outline: none;
  border: none;
  &_booking {
    padding: 9px 112px;
    border-color: white;
    color: black;
    margin: 40px 0 62px 0;
    font-family: "Bison";
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }
}

.booking__time {
  border: 1px solid #73f9bc;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #171716;
  & p {
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    font-family: "Bison";
    color: #73f9bc;
  }
  z-index: 1;
  position: relative;
}

.container_booking {
  position: relative;
}

.booking__background {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.main__title {
  font-weight: 900;
  font-size: 120px;
  line-height: 173px;
  text-align: center;
  color: #73f9bc;
  margin-top: 147px;
  text-transform: uppercase;
}

.time-zone__subtitle {
  font-family: Bison;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}

.time-zone {
  margin-bottom: 74px;
}

.time-zone__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin: 30px 0 50px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex__item {
  width: 100%;
  font-weight: 900;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 17px 0 16px 0;
  &_green {
    background: #73f9bc;
    & a {
      color: #171716;
    }
  }
}

.timetable-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.track__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track__title {
  font-weight: 900;
  font-size: 80px;
  line-height: 116px;
  &_green {
    color: #73f9bc;
  }
}

.track {
  width: 100%;
}

.track__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  max-width: 738px;
  text-align: center;
  margin-bottom: 50px;
}

.timetable {
  border: 1px solid #ffffff;
  &_green {
    border: 1px solid #73f9bc;
  }
}

.timetable__title-block {
  height: 68px;
  background: #73f9bc;
  display: flex;
  justify-content: center;
  align-items: center;
  &_absolute {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 250px;
    height: 69px;
  }
}

.timetable__title {
  color: #171716;
  font-weight: 900;
  font-size: 25px;
  line-height: 120%;
}

.timetable__container {
  padding: 0 25px;
}

.timetable__item {
  border-bottom: 1px solid #ffffff;
  padding: 29px 0 25px 0;
  position: relative;
  max-height: 200px;
  display: flex;
}

.timetable__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timetable__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timetable__time {
  font-family: Bison;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #73f9bc;
  min-width: 110px;
  &_last-child {
    margin-right: 240px;
  }
}

.timetable__author {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  margin-top: 10px;
  margin-bottom: 21px;
  min-width: 169px;
}

// .timetable__icon {
// }

.timetable__quote {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  max-width: 420px;
}

.timetable__wrapper {
  width: 170px;
}

.track {
  padding: 0 10px;
}

.timetable__button {
  padding: 8px 0;
  font-family: Bison;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #fff;
  width: 160px;
  &_green {
    background: #73f9bc;
    color: #171716;
    border: none;
    margin-right: 15px;
  }
}

.timetable__photo {
  margin: 0 20px 0 12px;
}

.timetable__q {
  display: flex;
  height: 116px;
  align-items: center;
}

.timetable__questions {
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
}

.timetable__buttons {
  display: flex;
}

.list {
  display: none;
}

.header__logo {
  width: 80px;
  height: 62px;
  background-image: url(../images/Logo.svg);
}
.navbar {
  display: none;
}

.menu {
  display: none;
}

.menu_visiable {
  display: flex;
}

@media (max-width: 1500px) {
  .timetable-container {
    flex-wrap: wrap;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1028px) {
  .booking__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .booking__background {
    position: relative;
    height: 285px;
    width: 330px;
  }
  .button_booking {
    margin: 0;
    margin-bottom: 24px;
  }
  .booking__title {
    margin: 20px 0 24px 0;
    text-align: center;
  }
  .container_booking {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .booking__time {
    & p {
      font-size: 43px;
      line-height: 52px;
    }
  }
  .main__title {
    margin-top: 107px;
  }
  .time-zone {
    margin-top: 50px;
  }
  .time-zone__text {
    margin: 10px 0 30px 0;
  }
  .timetable-container {
    margin-top: 0;
  }
  .track__title {
    margin-top: 50px;
  }
  .timetable__title-block_absolute {
    display: none;
  }
}

@media (max-width: 750px) {
  .booking__time {
    & p {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .main__title {
    font-size: 60px;
    line-height: 87px;
  }
  .time-zone {
    margin-top: 0;
  }
  .time-zone__subtitle {
    font-size: 30px;
    line-height: 36px;
  }
  .flex {
    display: none;
  }
  .list {
    display: block;
    margin: 0 auto;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    background: #73f9bc;
    padding: 15px 0;
  }
  .list__item {
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    padding: 15px 0;
    background: #171716;
    border: 1px solid #ffffff;
    color: white;
  }
  .track__title {
    font-weight: 900;
    font-size: 45px;
    line-height: 65px;
    margin-top: 45px;
    text-align: center;
  }
  .track__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
  .timetable__item {
    max-height: 245px;
    padding: 20px 0;
    justify-content: space-between;
  }
  .timetable__time {
    font-size: 20px;
    line-height: 24px;
  }
  .timetable__author {
    font-size: 12px;
    line-height: 17px;
    margin-top: 0;
  }
  .timetable__icon {
    width: 100px;
    height: 40px;
    margin-top: 100px;
  }
  .timetable__quote {
    font-size: 14px;
    line-height: 120%;
    max-width: 140px;
    margin-bottom: 15px;
    padding-top: 80px;
  }
  .timetable__questions {
    font-size: 14px;
    line-height: 120%;
  }
  .timetable__q {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .timetable__time_last-child {
    margin-right: 0;
    min-width: 0;
  }
  .timetable__buttons {
    flex-direction: column;
    align-self: flex-end;
  }
  .timetable__block {
    align-self: flex-end;
  }
  .timetable__button {
    font-size: 17px;
    line-height: 20px;
    padding: 5px 0;
    width: 140px;
  }
  .timetable__button_green {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .timetable__photo {
    margin: 0;
  }
  .timetable__photo {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100px;
    height: 100px;
  }
  .timetable__info {
    min-width: 0;
  }
  .timetable__container {
    padding: 0 10px;
  }
  .timetable__wrapper {
    position: absolute;
    top: 20px;
    right: -29px;
  }
}

@media (max-width: 560px) {
  .booking__title {
    font-size: 43px;
    line-height: 52px;
    max-height: 104px;
  }
  .button_booking {
    padding: 0;
  }
  .booking__text {
    font-size: 18px;
    line-height: 120%;
  }
  .time-zone {
    margin-top: -225px;
  }
  .header {
    margin: 10px 10px 0 10px;
    border: 1px solid #73F9BC;
  }
  .container_header {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 40px;
  }
  .header__logo {
    background-image: url(../images/logo_mobile.svg);
    height: 13px;
    width: 62px;
  }
  .header__nav {
    display: none;
  }
  .navbar {
    display: flex;
    width: 16px;
    height: 7px;
    background-image: url(../images/bar.svg);
  }
  .menu {
    position: absolute;
    top: 51px;
    right: 10px;
    flex-direction: column;
    height: 140px;
    width: 100px;
    z-index: 100;
    background: #171716;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
  }
  .manu__item {
    margin-right: 0;
    text-transform: uppercase;
    text-align: end;
  }
}
